<ion-header>
</ion-header>

<ion-content> 
  <!-- <p>This is paragraph</p>
  <h1>This is header 1</h1>
  <h2>This is header 2</h2>
  <h3>This is header 3</h3>
  <h4>This is header 4</h4>
  <h5>This is header 5</h5>
  <i class="red">This is italic sentences</i>
  <span id="user" >Ali walks to school</span> -->
  <div align="center">
    <h2 *ngIf="isShow">{{welcomeTxt | uppercase}}</h2>
    <!-- <ion-button (click)="test()">Show/Hide</ion-button> -->
    <ion-img class="logo" src="assets/img/jata.png"></ion-img>
  </div>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
  </form>
  <ion-button (click)="onSubmit()" expand="full" >Login</ion-button>
  <ion-item>
    <a (click)="goToRegister()">Dont Have Account?</a>
  </ion-item>
</ion-content>
