<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="userForm">

      <div align="center">
        <ion-avatar>
          <img [src]="avatar">
        </ion-avatar>
      </div>

      <ion-item>
        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="fname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="lname"></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-button (click)="onSubmit()" expand="full" [disabled]="userForm.invalid">
        SUBMIT
      </ion-button>
    </form>
  </ion-list>
</ion-content>
