<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <form [formGroup]="userForm">
      <ion-item>
        <ion-label position="stacked">Full Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-text *ngIf="!userForm.controls.name.valid && (userForm.controls.name.dirty || userForm.controls.name.touched)" color="danger" class="error">
        Please enter valid data
      </ion-text>
 
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-text *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty || userForm.controls.email.touched)" color="danger" class="error">
        Please enter valid data
      </ion-text>
 
      <ion-radio-group formControlName="sex">
        <ion-list-header>
          <ion-label>Sex</ion-label>
        </ion-list-header>
 
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio slot="start" value="M" checked></ion-radio>
        </ion-item>
 
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="F"></ion-radio>
        </ion-item>
      </ion-radio-group>
 
      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text *ngIf="!userForm.controls.password.valid && (userForm.controls.password.dirty || userForm.controls.password.touched)" color="danger" class="error">
        Please enter valid data
      </ion-text>

      <ion-item>
        <a (click)="goToLogin()">Already have account</a>
      </ion-item>
      <ion-button (click)="onRegister()" expand="full" [disabled]="userForm.invalid">
        REGISTER
      </ion-button>
    </form>
  </ion-list>
</ion-content>